{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <img src="/images/LogoWithBeaker.png" />
    <p></p>
  </div>
  <div class="front-page-section">
    <h1>Recent Posts</h1>
    <ul id="posts">
      {{ range first 2 (where .Data.Pages "Section" "posts") }}
        {{ partial "page-summary" . }}
        <p>{{ .Summary }}</p>
        {{ if .Truncated }}
        <a href="{{ .RelPermalink }}">Read more&hellip;</a>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <div class="front-page-section">
    <h1>Products</h1>
    <div id="components">
        <div class="row gutters">
          {{ range first 99 (where .Data.Pages "Section" "products" )}}
          {{- $thumbURL := .Params.thumb }}
          <div class="col col-4 item" style="background-image: url('{{ $thumbURL }}');">
            <a href="{{ .Permalink }}">
              <h2>{{ .Title }}</h2>
              <p>{{ .Params.description }}</p>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
